LOCATION=us-central1
COLLECTION_PATH=nationalparks
APP_SEARCH_API_KEY=private-79iadc5dzd3qxgfgd9w9ryc7
APP_SEARCH_ENGINE_NAME=nationalparks
ENTERPRISE_SEARCH_URL=http://localhost:3002
INDEXED_FIELDS=title,description,visitors,acres,location,date_established
